<div id="homeContainer">
	<div class="homeHeadContainer">
		<div class="row" *ngIf="user">
			<div class="col-md-auto">
					<div class="avatarFrameOnLine">
						<img [src]=" user.avatar || 'assets/img/generic_avatar.png' " alt="" id="homeAvatarPicture">
					</div>
			</div>
			<div class="col">
				<b>{{ user.nick }}</b>
				<div>
					<span>{{ user.status }}</span>
					<br>
					<span>{{ user.subnick }}</span>
          <br />
          <button (click)="logOut()">Cerrar sesión</button>
				</div>
			</div>
		</div>
	</div>
  <div class="whiteContainerPadded mb-1">
    <div class="row">
      <div class="col">
        <input type="text" placeholder="Buscar amigo" [(ngModel)]="query"
        class="form-control" />
      </div>
      <div class="col-md-auto">
        <img (click)="open(content)" src="assets/img/logo_live_add.png" alt="" class="icon">
      </div>
    </div>
    <hr />
    <p *ngIf="friends"><b>Amigos: ({{friends.length}} / {{friends.length}})</b></p>
    <p *ngFor="let friend of friends | search: query; let i = index" class="user">
      <img src="assets/img/logo_live_{{ friend.status }}.png" alt="Contact status" class="icon">
      <span routerLink="/conversation/{{ friend.uid }}">
        <b>{{ friend.nick }}</b> - {{ friend.subnick || 'No subnick' }}
        <small>{{ friend.email }}</small>
      </span>
    </p>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Ingresa el email de tu amigo</b>
    <input type="email" class="form-control" placeholder="email" [(ngModel)]="friendEmail" (keyup.enter)="sendRequest()">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
  </div>
</ng-template>
